set smooth
set tabstospaces
set softwrap
set autoindent

unbind ^K main
unbind ^W main

include .nanorc-files/xml.nanorc
include .nanorc-files/php.nanorc
include .nanorc-files/c.nanorc
include .nanorc-files/asm.nanorc
include .nanorc-files/java.nanorc
include .nanorc-files/bash.nanorc
include .nanorc-files/tex.nanorc
include .nanorc-files/gentoo.nanorc
include .nanorc-files/man.nanorc
include .nanorc-files/nanorc.nanorc
include .nanorc-files/mutt.nanorc
include .nanorc-files/debian.nanorc
include .nanorc-files/ocaml.nanorc
include .nanorc-files/python.nanorc
include .nanorc-files/css.nanorc
include .nanorc-files/cmake.nanorc
include .nanorc-files/mgp.nanorc
include .nanorc-files/html.nanorc
include .nanorc-files/ruby.nanorc
include .nanorc-files/fortran.nanorc
include .nanorc-files/makefile.nanorc
include .nanorc-files/objc.nanorc
include .nanorc-files/tcl.nanorc
include .nanorc-files/patch.nanorc
include .nanorc-files/awk.nanorc
include .nanorc-files/pov.nanorc
include .nanorc-files/perl.nanorc
include .nanorc-files/sh.nanorc
include .nanorc-files/groff.nanorc
